.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Fond du switch */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #e5e5e5;
  border-radius: 34px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  font-size: 18px;
}

/* Icônes */
.sun,
.moon {
  opacity: 0.7;
  transition: 0.4s;
}

/* Rond qui glisse */
.slider:before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* Mode sombre */
input:checked + .slider {
  background-color: #111827; /* gris très foncé façon Airbnb dark */
}

/* Le rond se déplace */
input:checked + .slider:before {
  transform: translateX(30px);
}

/* Icônes animées */
input:checked + .slider .sun {
  opacity: 0.2;
}

input:checked + .slider .moon {
  opacity: 1;
}
